int cash = {{cash}};
int amount = {{value}};

if (amount > {{border}}) {
    cash = cash + {{border}};
    amount = amount - {{border}};
} else {
    cash = cash + amount;
    amount = 0;
}

System.out.println(cash);
