public static void main(String[] args){
	int cash = {{cash}};
	int amount = {{value}};
	if(amount > {{border}}){
		cash += {{border}};
		amount -= {{border}};
	} else {
		cash += amount;
		amount = 0;
	}
        System.out.println(cash);
}
