public abstract class JatkoOpiskelija {

    {{#abstractfunctions}}
    public abstract void {{name}}();
    {{/abstractfunctions}}

}

-------------------

public class Opiskelija extends JatkoOpiskelija {

    private int opintopisteet;

    public Opiskelija(int opintopisteet) {
        this.opintopisteet = opintopisteet;
    }

    {{#implementedfunctions}}
    @Override
    public void {{name}}(){
        System.out.println("{{name}}n!");
    }

    {{/implementedfunctions}}
}