public interface Animal {

    void makeSound();
}

-----------

public class {{animalName1}} implements Animal {
    
    @Override
    public void makeSound() {
        System.out.println("{{animalSound1}}!");
    }
}

-----------

public class {{animalName2}} implements Animal {
    
    @Override
    public void makeSound() {
        System.out.println("{{animalSound2}}!");
    }
}

-----------

public static void main(String[] args) {
    ArrayList<Animal> farm = new ArrayList<>();
    farm.add(new {{animalName1}}());
    farm.add(new {{animalName2}}());
    farm.add(new {{animalName1}}());
    farm.add(new {{animalName2}}());
    Animal chosenOne = farm.get({{index}});
    
    chosenOne.makeSound();
}
