{{=<% %>=}}
int[] luvut = {<%value1%>, <%value2%>, <%value3%>, <%value4%>, <%value5%>, <%value6%>, <%value7%>};
<%={{ }}=%>

int apu = luvut[{{first}}];
luvut[{{first}}] = luvut[{{second}}];
luvut[{{second}}] = apu;

System.out.println(luvut[{{first}}]);
