public class Opiskelija {

    private int opintopisteet;

    public Opiskelija() {
    }

    public void {{function}}() {
        opintopisteet = opintopisteet {{operator}} {{amount}};
    }
}

public static void main(String[] args) {
    Opiskelija {{name}} = new Opiskelija();
}
