public class Calculator {

    private int value;
	
    public Calculator(int value) {
        this.value = value;
    }

    public int modify(int modifier) {
        return this.value {{operator}} modifier;
    }

}

--------------------------------

public static void main(String[] args) {
    Calculator thing = new Calculator({{value}});
    System.out.println(thing.modify({{first}}));
}