public class Kirja implements Comparable<Kirja>{
    
    public int sivuMaara;

    public Kirja(int sivumaara) {
        this.sivuMaara = sivumaara;
    }

    @Override
    public int compareTo(Kirja {{bookObject}}) {
        return /* koodirivi tähän */
    }
}