public class Laskuri {

    private int arvo;
	
    public Laskuri(int arvo) {
        this.arvo = arvo;
    }

    public void kasvataArvoa(int muuttuja) {
        this.arvo = this.arvo + muuttuja;
    }

    public int getArvo() {
        return arvo;
    }

}

--------------------------------

public static void main(String[] args) {
    Laskuri laskuri = new Laskuri({{value}});
    int luku = {{modifier}};
    laskuri.kasvataArvoa(luku);
    System.out.println(luku);
}