public static void main(String[] args) {
    luku = {{value}};
    muokkaaLukua(luku);
    System.out.println(lisaaJaPalauta(luku));
}

public static void muokkaaLukua(int luku) {
    luku = luku {{operator}} {{first}};
}

public static void lisaaJaPalauta(int arvo) {
    return arvo {{operator}} {{second}};
}