public static void main(String[] args) {
    luku = {{value}};
    muokkaaLukua(luku);
    System.out.println(luku);
}

public static void muokkaaLukua(int arvo) {
    luku = luku {{operator}} {{modifier}};
}