public static void main(String[] args) {
    int luku = {{value}};
    muokkaaLukua(luku);
    System.out.println(luku);
}

public static void muokkaaLukua(int luku) {
    luku = luku {{operator}} {{modifier}};
}