public enum Genre {

    Jannitys, Romantiikka, Lastenkirja, Tieto, Aanikirja, Historia, Elamakerta
    
}

------------------------------

public static void main(String[] args) {
    HashMap<Genre, Integer> kirjojenMaarat = new HashMap<>();

    // Put-lause tähän
}