int[] luvut = &#123;{{value1}}, {{value2}}, {{value3}}, {{value4}}, {{value5}}, {{value6}}, {{value7}}&#125;;

int luku = {{steps}};
int laskuri = 0;
for (int i = {{startingValue}}; i < luvut.length; i++) {
    if (laskuri == luku) {
        System.out.println(luvut[i]);
    }
    laskuri++;
}