HashMap<String, Integer> muutostaulu = new HashMap<>();

muutostaulu.put("{{numberString1}}", {{number1}});
muutostaulu.put("{{numberString2}}", {{number2}});
muutostaulu.put("{{numberString3}}", {{number3}});

if(/* get-komento tähän */ == {{number}}) {
    System.out.println("Oikein!");
}
