HashMap<String, Integer> muutosTaulu = new HashMap<>();

muutosTaulu.put("{{numberString1}}", {{number1}});
muutosTaulu.put("{{numberString2}}", {{number2}});
muutosTaulu.put("{{numberString3}}", {{number3}});

if(XXXXX == {{number}}) {
    System.out.println("Oikein!");
}