HashMap<String, Henkilo> henkiloTaulu = new HashMap<>();

Henkilo {{objectName1}} = new Henkilo("{{name1}}", {{age1}});
Henkilo {{objectName2}} = new Henkilo("{{name2}}", {{age2}});
Henkilo {{objectName3}} = new Henkilo("{{name3}}", {{age3}});

muutosTaulu.put({{objectName1}}.getName(), {{objectName1}});
muutosTaulu.put({{objectName2}}.getName(), {{objectName2}});
muutosTaulu.put({{objectName3}}.getName(), {{objectName3}});

System.out.println("Oikein!");