public static void main(String[] args) {
    int luku = {{value}};
    kasvataLukua(luku);
    if(luku == {{value}}) {
        luku = luku {{operator}} {{first}};
    }
    System.out.println(luku);
}

public static void kasvataLukua(int luku) {
    luku = luku + {{second}};
}